{% extends 'base.html' %}

{% block content %}

<div class="my-5">
  <form method="POST">{% csrf_token %}
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <div class="card-title text-center border-bottom">
            <h2>KOMUGI Toolbox</h2>
          </div>

          {{ form.non_field_errors }}
          {% for field in form %}
            <div class="row my-3 mx-3">
              <div style="width:150px;">{{ field.label }}</div>
              <div style="width:200px;">{{ field }}</div>
            </div>
          {% endfor %}
          <button type="submit" class="btn btn-primary btn-block my-3" >ログイン</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
