/* ページタイトル */
.page-title　.page-title:link, .page-title:visited, .page-title:hover, .page-title:active {
  color: #343a40;
  text-decoration:none;
}

/* inputフォーム */
.custom-file {
  overflow: hidden;
}
.custom-file-label {
  white-space: nowrap;
}
